/* You can add global styles to this file, and also import other style files */
.legendaire {
  background-color: #FFBF00;
}

.epique {
  background-color: #AC58FA;
}

.rare {
  background-color: #2E64FE;
}

.commun {
  background-color: #A4A4A4;
}

